.header-content-container {
  height: 80px;
}

.test-2 {
  width: 100%;
  padding-right: 20px;
}

.button-search {
  cursor: pointer;
  background-image: url("./img_header_search_icon.svg");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
}

.button-search:hover {
  background-image: url("./img_header_search_icon_hover.svg");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
}

.input-search {
  margin-left: 10px;
  border: none;
  height: 45px;
  outline: none;
  width: 100%;
}

.button-add-your-space {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 2px;
  height: 45px;
  width: 200px;
  border: 1px solid #EDF4F2;
  color: #00927c !important;
  background-color: #EDF4F2;
  font-family: 'Work Sans', sans-serif;
}

.button-add-your-space:hover {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #d6cfc7;
}

.button-sign-up {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 2px;
  height: 45px;
  width: 109px;
  border: 1px solid #00c78a;
  color: #FFFFFF;
  background-color: #00C78A;
  font-family: 'Work Sans', sans-serif;
}

.button-sign-up:hover {
  background-color: #08966b;
  box-shadow: 1px 1px 1px 1px #d6cfc7;
}

.button-sign-in {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 2px;
  height: 45px;
  width: 109px;
  border: 1px solid #00c78a;
  color: #FFFFFF;
  background-color: #08966b;
  font-family: 'Work Sans', sans-serif;
}

.button-sign-in:hover {
  background-color: #056346;
  box-shadow: 1px 1px 1px 1px #d6cfc7;
}

.layouts-margin {
  border-bottom: 1px solid #DDE4E1;
  margin-bottom: 40px;
}

.profile-user {
  padding: 4px;
  margin-left: 10px;
  min-width: 155px;
  border-radius: 2px;
  border: 1px solid #d7e4df;
  height: 45px;
  cursor: pointer;
}

.user-name {
  color: #00927c !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  font-family: 'Work Sans', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:100px;
}

.profile-user:hover {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #d6cfc7;
}
